html {
    background-color: white;
    padding: 1em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1em;
}

body {
    width: 45em;
    background-color: #ffff99;
    padding: 0.2em 2em 1.2em;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.2em;
    font-weight: normal;
    color: #ff6600;
    border: 3px solid #ff6600;
    padding: 0.2em;
}


h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #ffff99;
    font-size: 2.1em;
    background-color: #ff6600;
    padding: 1.3em 0.3em 0.5em;
}

ol {
    background-color: #ffcc00;
    color: #ffff99;
    padding: 1px 0.6em 1px 2.5em;
    margin-block: 1.8em;
}

li {
    margin-block: 1.5em;
}

li:first-child {
    margin-top: 0.6em;
}

li:last-child {
    margin-bottom: 0.6em;
}

p {
    border: 3px dotted #ffcc00;
    padding: 0.5em;
}