body {
    background-color: aliceblue;
    font-family: cursive;
}

.female {
    color: blue;
}

.male {
    color: red;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

#middlemarch {
    list-style-type: lower-roman;
    width: fit-content;
    margin-left: 5%;
}

#taletwocities {
    list-style-type: lower-alpha;
}

#middlemarch>li {
    margin-bottom: 0.2em;
}