* {
    box-sizing: border-box;
}

html {
    --line-width: 1px;
    --knot-dimension: 8px;

    background-color: ghostwhite;
    padding: 0;

    background-image:
        linear-gradient(to bottom,
            transparent calc(50% - 0.5 * var(--line-width)),
            silver calc(50% - 0.5* var(--line-width)) calc(50% + 0.5* var(--line-width)),
            transparent calc(50% + 0.5* var(--line-width))),
        linear-gradient(to right,
            transparent calc(50% - 0.5 * var(--line-width)),
            silver calc(50% - 0.5* var(--line-width)) calc(50% + 0.5* var(--line-width)),
            transparent 50%),
        linear-gradient(to bottom right,
            ghostwhite calc(50% - 0.5 * var(--knot-dimension)),
            transparent calc(50% - 0.5 * var(--knot-dimension)) calc(50% + 0.5 * var(--knot-dimension)),
            ghostwhite calc(50% + 0.5 * var(--knot-dimension))),
        linear-gradient(to bottom left,
            ghostwhite calc(50% - 0.5 * var(--knot-dimension)),
            silver calc(50% - 0.5 * var(--knot-dimension)) calc(50% + 0.5 * var(--knot-dimension)),
            ghostwhite calc(50% + 0.5 * var(--knot-dimension)));
    background-position: 0 0;
    background-size: 150px 100px;
    background-repeat: repeat;
}

body {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: start;
    padding: 25px;
    background-color: hsl(34, 78%, 91%, 85%);
    border: 4px double hsl(82, 39%, 22%);
}

nav {
    font-weight: bold;
}

nav>h2 {
    margin-block: 1.2em -0.5em;
}

nav>ul {
    width: fit-content;
    padding: 20px 40px;
    background: hsl(82, 39%, 22%);
    border-radius: 20px;
    color: hsl(56, 38%, 65%);
    list-style-type: "§ ";
}

nav li {
    letter-spacing: 0.05em;
}

nav>ul a {
    color: hsl(34, 78%, 91%);
}

h1 {
    text-align: center;
    margin-top: 0;
    padding: 20px;
    background-color: hsl(82, 39%, 22%);
    color: orange;

    background-image:
        conic-gradient(from 0deg at center,
            black 90deg,
            antiquewhite 90deg 180deg,
            black 180deg 270deg,
            antiquewhite 270deg 360deg);
    background-size: 10% 50%;
    background-blend-mode: multiply;
    border-radius: 20px;
}

.h2-subtitle {
    margin-block: -25px 0;
    margin-left: 20px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;

}

.ingredients,
.directions {
    padding-left: 40px;
}

hr {
    margin: 2em auto;
    width: 50%;
    height: 2px;
}

body>header>hr {
    height: 4px;
    margin-top: 2.5em;
}

hr:last-child {
    width: 100%;
    margin-block: 2em 0;
}

.mx-40 {
    margin-inline: 40px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

blockquote {
    width: 100%;
    padding: 0;
    margin: -10px auto 5px;
}

blockquote>p {
    margin-block: 25px;
}

blockquote>p:first-child,
blockquote>p:last-child {
    margin-block: 0;
}

figure {
    width: 80%;
    margin: 50px auto;
    border: 1px solid silver;
    padding: 30px 30px 10px;
    background-color: hsl(0, 0%, 93%);
}

.figure-img {
    width: 60%;
    padding: 20px 20px 5px;
    background-color: ghostwhite;

    background-image: repeating-conic-gradient(from 0deg at center,
            antiquewhite 30deg,
            hsl(30, 39%, 85%) 60deg);
}

figure>img {

    width: 100%;
    height: auto;
    display: block;
    margin-inline: auto;
    margin: 0 auto 6px;
    border: 1px solid hsl(82, 39%, 70%);
}

.figure-img>figcaption {
    text-align: center;
    margin-block: 4px;
}

figcaption {
    font-size: medium;
    color: hsl(0, 100%, 34%);
    text-align: start;
    margin: 10px 5px 10px;
}

.directions>ol>li {
    margin-bottom: 25px;
}

.directions>ol ol {
    list-style-type: lower-roman;
}

.directions>ol ol>li {
    margin-block: 25px;
}

.li-none {
    list-style-type: none;
}

.eye-candy {
    color: hsl(0, 100%, 34%);
    font-style: italic;
    letter-spacing: 0.05em;
}

footer>p {
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    /* border: 1px solid red; */
    vertical-align: middle;
}

footer {
    width: fit-content;
    margin-inline: auto;
}